<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>GoTour</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <!-- sweetalert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- logo -->
    <link href="img/logo.png" rel="icon" style="height: 40px;width: 40px;">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-secondary navbar-dark">
                <a href="/" class="navbar-brand mx-4 mb-3">

                    <h3 class="text-primary">
                        <img src="img/logo.png" alt="" style="height: 60px; width: 60px;">
                        </i>GoTour
                    </h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                    <div class="position-relative">
                        <img class="rounded-circle" src="img/user.png" alt="" style="width: 40px; height: 40px;">
                        <div
                            class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                        </div>
                    </div>
                    <div class="ms-3">
                        <h6 class="mb-0">Linh Tùng</h6>
                        <span>Admin</span>
                    </div>
                </div>
                <div class="navbar-nav w-100">


                    <a href="/" class="nav-item nav-link "><i class="fa fa-table me-2"></i>Người dùng</a>
                    <a href="hotels" class="nav-item nav-link "><i class="fa fa-hotel me-2"></i>Khách sạn</a>
                    <a href="tours" class="nav-item nav-link active"><i class="fa fa-route me-2"></i>Chuyến đi</a>
                    <a href="" class="nav-item nav-link "><i class="fa fa-table me-2"></i>Tables</a>
                    <a href="" class="nav-item nav-link "><i class="fa fa-table me-2"></i>Tables</a>



                </div>
            </nav>
        </div>
        <!-- Sidebar End -->

    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
            <a href="/" class="navbar-brand d-flex d-lg-none me-4">
                <h2 class="text-primary mb-0"> <img src="img/logo.png" alt="" style="width: 60px; height: 60px;"></h2>
            </a>
            <a href="#" class="sidebar-toggler flex-shrink-0">
                <i class="fa fa-bars"></i>
            </a>
            <form class="d-none d-md-flex ms-4">
                <input class="form-control bg-dark border-0" type="search" placeholder="Search">
            </form>
            <div class="navbar-nav align-items-center ms-auto">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-envelope me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Message</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.png" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.png" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <div class="d-flex align-items-center">
                                <img class="rounded-circle" src="img/user.png" alt=""
                                    style="width: 40px; height: 40px;">
                                <div class="ms-2">
                                    <h6 class="fw-normal mb-0">Jhon send you a message</h6>
                                    <small>15 minutes ago</small>
                                </div>
                            </div>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all message</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <i class="fa fa-bell me-lg-2"></i>
                        <span class="d-none d-lg-inline-flex">Notificatin</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Profile updated</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">New user added</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item">
                            <h6 class="fw-normal mb-0">Password changed</h6>
                            <small>15 minutes ago</small>
                        </a>
                        <hr class="dropdown-divider">
                        <a href="#" class="dropdown-item text-center">See all notifications</a>
                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="img/user.png" alt=""
                            style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">Linh Tùng</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Navbar End -->


        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">Basic Form</h6>
                        <form method="post" action="/addtour" enctype="multipart/form-data"
                            style="display: flex; flex-direction: row; flex-wrap: wrap;">
                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputEmail1" class="form-label">Tên Tour</label>
                                <input type="text" class="form-control" id="" name="tourName">
                            </div>
                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Ngày khởi hành</label>
                                <input type="text" class="form-control" id="" name="departureDay">
                            </div>
                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Ngày kết thúc</label>
                                <input type="text" class="form-control" id="" name="endDate">
                            </div>

                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Số ngày</label>
                                <input type="number" class="form-control" id="" name="numberOfDays">
                            </div>
                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Số đêm</label>
                                <input type="number" class="form-control" id="" name="numberOfNights">
                            </div>
                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Số chỗ</label>
                                <input type="number" class="form-control" id="" name="numberOfReservations">
                            </div>
                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Lich trình</label>
                                <input type="text" class="form-control" id="" name="schedule">
                            </div>
                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Thể loại</label>
                                <input type="text" class="form-control" id="" name="typeOfTour">
                            </div>

                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Mô tả</label>
                                <input type="text" class="form-control" id="" name="describe">
                            </div>
                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Địa điểm khởi hành</label>
                                <input type="text" class="form-control" id="" name="departureLocation">
                            </div>
                            <div class="m-3 me-5 col-sm-5">
                                <label for="exampleInputPassword1" class="form-label">Giá</label>
                                <input type="number" class="form-control" id="" name="price">
                            </div>
                            <div class="m-3 me-5 col-sm-5">
                                <label for="formFile" class="form-label">Ảnh</label>
                                <input class="form-control bg-dark" type="file" id="formFile"
                                    accept="image/png, image/gif, image/jpeg" name="images"
                                    onchange="checkImage(event)">

                            </div>

                            <div class="m-3 me-5 col-sm-5 mt-5" style="display: flex; align-items: center; justify-content: center;">

                                <button type="submit" class="btn btn-primary w-10 h-10">Xác nhận</button>
                            </div>
                            <div class="m-3 me-5 col-sm-5 ">

                                <img id="img" src="" style="height: 200px;">
                            </div>


                        </form>
                    </div>
                </div>

            </div>
        </div>
        <!-- Form End -->
        <script>
            const checkImage = (event) => {

                const file = event.target.files[0];
                // console.log(file);
                const fileName = file.name;
                const fileExtension = fileName.split('.').pop().toLowerCase();

                if (fileExtension === 'png' || fileExtension === 'jpg' || fileExtension === 'jpeg') {
                    // console.log("Đây là một tệp tin hình ảnh (PNG hoặc JPEG).");
                    const reader = new FileReader();
                    reader.onload = function (e) {
                        const img = document.getElementById("img");
                        img.src = e.target.result;
                    }
                    reader.readAsDataURL(file);
                } else {
                    // console.log("Tệp tin không phải là hình ảnh (PNG hoặc JPEG).");
                    Swal.fire({
                        title: "Chỉ hổ trợ file ảnh (PNG hoặc JPEG)",
                        icon: "warning",

                    }).then((result) => {
                        if (result.isConfirmed) {
                            document.getElementById("formFile").value = "";
                            document.getElementById("img").src = "";
                        }
                    })
                        ;
                }
            }
        </script>


        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-secondary rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        &copy; <a href="#">GoTour</a>, All Right Reserved.
                    </div>
                    <div class="col-12 col-sm-6 text-center text-sm-end">
                        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                        Designed By <a href="https://www.facebook.com/linhtungf" target="_blank">Linh đẹp trai</a>

                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/chart/chart.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>